.home{

  /*background-position: center;*/
  /*!*Y le decimos que siempre ocupe el ancho y el alto con esto*!*/
  /*background-size: cover;*/
}
.divHome {
  height: 100%;
  width: 20%;
  border: 5px solid black;
}


