<header class="ae-container-fluid ae-container-fluid--full rk-header " >

  <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
  <label for="mobile-menu">
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
  </label>

  <div class="grid-container">
    <div class = "logo">
      <h1 class="rk-logo">
        <a routerLink="home" href="index.html">
          <img src="assets/img/logoKevin.png" width="100" height="100" alt="Logo">
        </a>
      </h1>
    </div>
      <div class="center">
      <nav class="rk-navigation">
        <ul class="rk-menu">
          <div class="grid-container">


            <div class="menu">
              <li routerLinkActive="active" class="rk-menu__item">
                <a routerLink="home" class="rk-menu__link">Home
                </a>
              </li>
            </div>

            <div class="menu">
              <li routerLinkActive="active" class="rk-menu__item">
                <a routerLink="projects" class="rk-menu__link">Proyectos
                </a>
              </li>
            </div>

            <div class="menu">
              <li routerLinkActive="active" class="rk-menu__item">
                <a routerLink="courses" class="rk-menu__link">Cursos
                </a>
              </li>
            </div>

            <div class="menu">
              <li routerLinkActive="active" class="rk-menu__item">
                <a routerLink="knowme" class="rk-menu__link">Conóceme
                </a>
              </li>
            </div>
          </div>
        </ul>
      </nav>
    </div>
  </div>
</header>

